body{
    background: #ebebeb;
}

.root{
    display: flex;
}

.main{
    width: 100%
}

div.bg1{  position: fixed;
    width: 100%;
    z-index: -1;
    height: 100%;
    right: -10%;
}

div.bg2 {  position: fixed;
    width: 100%;
    z-index: -1;
    height: 100%;
    left: 6%;
}

div.bg1:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 70%;
    /* opacity: 0.8; */
    background-color: #246C60;   border-bottom: 30px solid #448F30;  -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: skewX(30deg);
    -ms-transform: skewX(30deg);
    transform: skewY(30deg);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0px 0px 20px #89898a;
}

div.bg2:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #246C60;   border-right: 50px solid #448F30;  -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: skewX(60deg);
    -ms-transform: skewX(60deg);

    transform: skewX(60deg);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0px 0px 20px #89898a;
}
